body {text-align: center; background-color: #222222; margin: 0;}

h1 {
  font-family: Arial, sans-serif;
  font-size: 72px;
  color: #ffffff;
  font-style: normal;
}

h2 {
  font-family: Arial, sans-serif;
  font-size: 42px;
  color: #dddddd;
  font-style: normal;
}

h3 {
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: #dddddd;
  font-style: italic;
}

p {
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #ffffff;
  font-style: normal;
}

button {
  background-color: darkgreen;
  border: none;
  color: #ffffff;
  height: 60px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.menu-btn {
  background-color: #222222;
  width: 32px;
  height: 32px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 29px;
  padding-right: 29px;
  cursor: pointer;
  transition-duration: 0.3s;
  margin-bottom: -4px;
}

.menu-btn:hover {
  background-color: darkgreen;
  color: #ffffff;
}

.menu-container {
  display: flex;
  justify-content: center;
  transition-duration: 1s;
}

.svg-container {
  display: flex;
  justify-content: center;
}

.color-container {
  display: flex;
  justify-content: center;
  transition-duration: 1s;
}

.color-item {
  width: 51.2px;
  height: 60px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.color-item:hover {transform: translateY(-12px);}

.trio-container {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-gap: 20px;
    width: fit-content;
}

.trio-item {
    background-color: #222222;
    border: 15px solid darkgreen;
    padding: 40px;
    margin: 10px;
    text-align: center;
}

.gallery-container {
  background-color: #222222;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  margin-top: 130px;
  margin-bottom: 130px;
  width: fit-content;
}

.gallery-item {
  border-radius: 20px; filter: grayscale(100%); width:300px; height:300px; vertical-align:middle; margin:6px 3px;
}

.footer-container {
  background-color: darkgreen;
  display: flex;
  justify-content: center;
}